# Introducción a la Programación

## Variables y tipos de datos

### Cadenas de caracteres

Las cadenas de caracteres en Python se especifican utilizando un par de comillas sencillas o un par de comillas dobles, pero no combinarlas entre ellas.

Podemos utilizar el método print para imprimir en pantalla un valor (numérico, cadena de caracteres, o concatenación que combine varios tipos de valores).

In [1]:
print("Hola Mundo 1")
print('Hola Mundo 2')

Hola Mundo 1
Hola Mundo 2

Las variables son espacios de memoria donde se almacenan valores. Son referenciados por nombres (identificadores).

Podemos asignar una cadena de caracteres como el valor de una variable que podrá ser utilizada posteriormente utilizando "=". 
El tipo de las variables no se especifica directamente, se infiere dependiendo del valor que se va a asignar.
Las cadenas de caracteres se pueden concatenar usando el operador "+".

In [2]:
texto1 = "este texto"
texto2 = "otro texto"
print(texto1 + ", " + texto2)
texto3 = texto1 + ", " + texto2
print("Lo vuelvo a imprimir: " + texto3)

este texto, otro texto
Lo vuelvo a imprimir: este texto, otro texto

Podemos incluir caracteres especiales utilizando un backslash "\".

In [3]:
print("texto con comillas \"comillas\"")

texto con comillas "comillas"

In [4]:
print("texto en \
varias \
lineas")

texto en varias lineas

Podemos repetir varias veces una cadena de caracteres con el caracter de asterisco.

In [5]:
"si"+("ri"*2)

'siriri'

### Números (int, float)

Hay dos tipos de datos numéricos en Python: **int** (para números enteros) y **float** (para números con decimales, utilizando el punto y no la coma como separador).
El tipo de un número depende de cómo se especifica: si se escribe con o sin punto se determina si se trata de un **int** o de un **float**.

In [6]:
print (14)
print (14.0)
print(111111111111+1)

14
14.0
111111111112

Podemos asignar un valor a una variable, para poder utilizarla posteriormente. El tipo de las variables no se especifica directamente, se infiere dependiendo del valor que se va a asignar.
La función **type()** permite preguntar el tipo específico de un valor o de una variable.

In [7]:
print(type(14))
print(type(14.0))
print(type("una cadena"))
i=89
j=89.0
cad="una cadena"
print(type(i))
print(type(j))
print(type(cad))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'int'>
<class 'float'>
<class 'str'>

Los números tienen los límites siguientes:

In [8]:
#Límite superior
print (1.79e308)
print (1.8e308)

#Límite inferior
print (-1.79e308)
print (-1.8e308)

1.79e+308
inf
-1.79e+308
-inf

In [9]:
#Límites cercanos a cero
print (5e-324)
print (2e-324)

5e-324
0.0

In [10]:
# Límite en la precisión de los números de punto flotante
print (1.2345678901234567890123456789)

1.2345678901234567

In [11]:
print (12345678901234567890123456789.0)

1.2345678901234568e+28

Se pueden realizar operaciones de suma, resta, multiplicación, etc., conjuntamente con la asignación a una variable en una sola operación.

In [12]:
a = 5
print (a)
a = a + 1
print (a)
a += 1
print (a)
a += 5
print (a)
a *= 3
print (a)
a //= 4 # División Entera
print (a)

5
6
7
12
36
9

In [13]:
a /= 3
a

3.0

### Combinación y formateo

Podemos transformar valores numéricos a cadenas de caracteres usando la función **str()**.
Inversamente, podemos transformar cadenas de caracteres a números utilizando las funciones **int()** y **float()**.

In [14]:
j=89.92836
print("El valor de j es: "+str(j))

El valor de j es: 89.92836

In [15]:
print(11 + float(j))
print(11 + int(j))

100.92836
100

Podemos formatear las cadenas utilizando la función **format()**, que remplazará en la cadena de caracteres los valores que se indican entre "{}".

In [16]:
i=12345678901234
j=89.928362844782419348
print("Imprimo un texto directamente: {}".format(texto1))
print("El valor de i es: {}".format(i))
print("El valor de j es: {}".format(j))

Imprimo un texto directamente: este texto
El valor de i es: 12345678901234
El valor de j es: 89.92836284478241

Se puede cambiar el formato de los valores´numéricos utilizando ":", seguido del número de caracteres a utilizar en la parte decimal después de un caracter ".",  y de un indicador opcional del tipo de dato que se quiere formatear:
- "d" para enteros decimales
- "f" para punto flotante
- "e" para expresiones con exponentes base 10

In [17]:
print("1. El valor de j con dos decimales es: {:d}".format(i))
print("2. El valor de j con dos decimales es: {:.2f}".format(j))
print("3. El valor de j con dos decimales es: {:.4f}".format(j))
print("4. El valor de j con dos decimales es: {:e}".format(j))
print("5. El valor de j con dos decimales es: {:.1e}".format(j))
print("6. El valor de j con dos decimales es: {:.2e}".format(j))
print("7. El valor de j con dos decimales es: {:.4e}".format(j))
print("8. El valor de j con dos decimales es: {:.1f}".format(j))
print("9. El valor de j con dos decimales es: {:.2f}".format(j))
print("10. El valor de j con dos decimales es: {:.4f}".format(j))
print("11. El valor de j con dos decimales es: {:.2}".format(j))

1. El valor de j con dos decimales es: 12345678901234
2. El valor de j con dos decimales es: 89.93
3. El valor de j con dos decimales es: 89.9284
4. El valor de j con dos decimales es: 8.992836e+01
5. El valor de j con dos decimales es: 9.0e+01
6. El valor de j con dos decimales es: 8.99e+01
7. El valor de j con dos decimales es: 8.9928e+01
8. El valor de j con dos decimales es: 89.9
9. El valor de j con dos decimales es: 89.93
10. El valor de j con dos decimales es: 89.9284
11. El valor de j con dos decimales es: 9e+01

In [18]:
j

89.92836284478241

En el caso de impresión literal del valor, se puede obviar el ":".

In [19]:
print("El valor de i es: {:}".format(i))
print("El valor de j es: {:}".format(j))
print("Imprimo un texto directamente: {:}".format(texto1))

El valor de i es: 12345678901234
El valor de j es: 89.92836284478241
Imprimo un texto directamente: este texto

In [20]:
print("El valor de i es: {} {}".format(i, j))

El valor de i es: 12345678901234 89.92836284478241

## Operaciones Aritméticas Básicas
Multiplicación, División, Suma, Resta, Potenciación

In [21]:
print (2 + 3)
print (45 - 23)
print (-67 + 56 - 12)

5
22
-23

El símboolo de multiplicación es el asterisco *

In [22]:
4 * 6

24

El símbolo de división es el slash

In [23]:
print (7 / 3)
print (14 / 2)

2.3333333333333335
7.0

El cociente entero de una división es con doble slash

In [24]:
print (10 // 4)

2

El símbolo para la obtener el residuo de una división (también llamado módulo) es %

In [25]:
print (11 % 4)

3

In [26]:
print (11/4)

2.75

In [27]:
print (11/4 - 11//4)

0.75

La elevación a una potencia se obtiene con el doble asterisco

In [28]:
print (2 ** 3)
print (5 ** 4)

8
625

### Booleanos

Las variables booleanas son de tipo bool, y adminten dos valores "True" y "False" (case sensitive).

In [29]:
print(type (False))
print(type (True))
f = False
t = True
print(f)
print(t)

<class 'bool'>
<class 'bool'>
False
True

Para asignar un valor a partir de una comparación condicional, se utilizan los operadores "==" para evaluar la igualdad y "!=" para evaluar la inigualdad.

In [30]:
t = "True" == "True"
f = "False" != "False"
print(t)
print(f)

True
False

Se pueden realizar operaciones booleanas de NOT con "not", OR con "or" y de AND con "and".

In [31]:
caminar = True
comer = True
print(caminar or comer)
print(not (caminar and comer))

True
False

Se pueden comparar valores numéricos con los operadores <, >m <=, >=

In [32]:
print (5==5.0 and 4>1)

True

In [33]:
a = 1
b = 2
c = 3
print (a>b or not(b<c))

print (c>b and (a+b<c or b+c>a))
print ((a*2>=b or c//2<b) and b*c<a**c)

False
True
False

## Otras funciones útiles

In [34]:
d = abs(-4)
print (d)
g = abs(-1.78)
print (g)

4
1.78

In [35]:
e = max (3, 2, 7, 1)
e

7

In [36]:
print (round(6.4))
print (round(8.5))
print (round(2.51))

cp = complex(9,2)
print (cp)

6
8
3
(9+2j)

In [37]:
ord("B")

66

In [38]:
print (ord("A"))

65

In [39]:
print(type (True))
t = bool("1")
f = bool("0")
print(t)
print(f)

<class 'bool'>
True
True

In [40]:
print (bool (""))
print (False)
bool (0)

False
False

False

In [41]:
if 1:
  print("True")

True

In [42]:
bool(1)

True

In [43]:
if 0:
  print(True)
else:
  print(False)

False

In [44]:
print(len("muy corta"))
print(len("esta cadena es corta"))
print(len("esta cadena es un poco mas larga"))

9
20
32

In [45]:
variable = input("Digite un número")
print ("el valor es: ",variable)
print (type(variable))
x = int(variable)
print (x)
print (type(x))

Digite un número10
el valor es:  10
<class 'str'>
10
<class 'int'>

# Estructuras de Control Condicionales

En Python es muy importante la indentación, tanto en los condicionales como en los ciclos, se definen bloques indentados después de un caracter ":"

## If

In [46]:
edad = 34
if edad < 18:
    print ("Es menor de edad")

In [47]:
nombre = "Juan de la Encarnación"
if len(nombre) > 15:
    print ("Nombre muy largo!")

Nombre muy largo!

## Else

In [48]:
edad = int(input("Digite la edad: "))
if edad < 18:
    print ("Estas en el bloque de código del if")
    print ("Es menor de edad")
else:
    print ("Estas en el bloque de código del else")
    print ("Es mayor de edad")

Digite la edad: 20
Estas en el bloque de código del else
Es mayor de edad

In [49]:
hora = int(input("Digite la hora: "))
if hora>=18 or hora<=6:
    print ("encender luces")
else:
    print ("apagar luces")

Digite la hora: 23
encender luces

In [50]:
hora = int(input("Digite la hora: "))
if hora>=18 or hora<=6:
    print ("encender luces")
else:
    print ("apagar luces")

Digite la hora: 5
encender luces

In [51]:
edad = int(input("Digite la edad: "))
if edad < 2:
    print ("Bebé")
else:
    if edad < 12:
        print ("Niño")
    else:
        if edad <18:
            print ("Adolescente")
        else:
            print ("Adulto")

Digite la edad: 23
Adulto

## Elif

In [52]:
edad = int(input("Digite la edad: "))
if edad < 2:
    print ("Bebé")
elif edad < 12:
    print ("Niño")
elif edad <18:
    print ("Adolescente")
else:
    print ("Adulto")

Digite la edad: 2
Niño

# Ejercicio: Largo de un nombre

Escriba un programa que dados tres nombres, imprima el nombre mas corto y el mas largo de la siguiente forma:

El nombre mas corto es XXXXX

El nombre mas largo es HHHH

In [53]:
names = []
for _ in range(3):
  name = input('Ingrese un nombre: ')
  names.append(name)
print('El nombre más corto es {}'.format(min(names, key=len)))
print('El nombre más largo es {}'.format(max(names, key=len)))

Ingrese un nombre: Jorge
Ingrese un nombre: Juan Carlos
Ingrese un nombre: Pepito Perez
El nombre más corto es Jorge
El nombre más largo es Pepito Perez

# Ejercicio: residuo par

Cree un programa para determinar si la parte entera del residuo de la división de dos números es par o impar

In [54]:
dividend, divisor = input('Ingrese un el dividendo y divisor seperados por un espacio: ').split()
dividend = int(dividend)
divisor = int(divisor)
residue = dividend // divisor
print(residue)
'Par' if residue % 2 == 0 else 'Impar'

Ingrese un el dividendo y divisor seperados por un espacio: 10 3
3

'Impar'

# Ejercicio: áreas de figuras

Escriba un programa que imprima un menú de opciones y le pregunte al usuario cuál opción desea. Las opciones del menú son (1) calcular el área de un rectángulo, (2) calcular el perímetro de un triángulo y (3) calcular el área de una circunferencia.

In [131]:
from math import pi
menu = '''-------------------------------------------
{:>22}
1. Cálcular el área de un rectángulo.
2. Cálcular el perimetro de un Triangulo
3. Cálcular el area de una circunferencia
-------------------------------------------'''.format('MENU')

print(menu)
option = int(input('Ingrese una opción del menú'))
if option == 1:
  base, height = input('Ingrese la base y altura separadas por un espacio: ').split()
  base = int(base)
  height = int(height)
  rectangle_area = lambda b, h: b * h
  print(rectangle_area(base,height))
elif option == 2:
  side1, side2, side3 = input('Ingrese los 3 lados del triangulo separados por un espacio: ').split()
  side1 = int(side1)
  side2 = int(side2)
  side3 = int(side3)
  triangle_perimeter = lambda s1,s2,s3: s1 +s2 + s3
  print(triangle_perimeter(side1,side2,side3))
else:
  radio = int(input('Ingrese el radio del la circunferencia: '))
  circle_area = lambda r: (r**2) * pi
  print('{:.3f}'.format(circle_area(radio)))

-------------------------------------------
                  MENU
1. Cálcular el área de un rectángulo.
2. Cálcular el perimetro de un Triangulo
3. Cálcular el area de una circunferencia
-------------------------------------------
Ingrese una opción del menú3
Ingrese el radio del la circunferencia: 5
78.540

## Ciclos en Python

La cláusula **while** determinan ciclos iterativos de código que se ejecutan mientras se cumpla una condición especificada antes del separador ":".

In [56]:
i = 1
while i<=10:
    print (str(i))
    i = i + 1

1
2
3
4
5
6
7
8
9
10

Se pueden anidar ciclos y condicionales

In [57]:
# ciclos utilizando la clausula while
i = 1
while i<=10:
    if i%2==1:
        print (str(i)+". Buenos días!")
    else:
        print (str(i)+". Buen provecho con ese desayuno!")
    i+=1

1. Buenos días!
2. Buen provecho con ese desayuno!
3. Buenos días!
4. Buen provecho con ese desayuno!
5. Buenos días!
6. Buen provecho con ese desayuno!
7. Buenos días!
8. Buen provecho con ese desayuno!
9. Buenos días!
10. Buen provecho con ese desayuno!

Muchas funciones y objetos no se encuentran en el lenguaje Python de base, sino en módulos (librerías) adicionales.
Para poder acceder a ellas, es necesario importarlas, ya sea especificando la librería completa (con **import** y una abreviación de la libería especificada con **as**), ya sea la funcionalidad específica (con **from** e **import**).

Imprimiendo la hora en Python

In [58]:
import datetime as dt
print(dt.datetime.now())

2020-08-12 22:42:57.398039

In [59]:
from datetime import datetime
print(datetime.now())

2020-08-12 22:42:57.406868

In [60]:
from datetime import datetime
opcion = 0
while opcion != 2:
    menuHora = '''
    Menú de opciones
    1. Hora actual
    2. Salir
    Digite la opción:'''
    opcion = int(input(menuHora))
    if opcion==1:
        print("La fecha y hora actual es: %s"%(datetime.now()))

    Menú de opciones
    1. Hora actual
    2. Salir
    Digite la opción:1
La fecha y hora actual es: 2020-08-12 22:43:28.931026

    Menú de opciones
    1. Hora actual
    2. Salir
    Digite la opción:2

In [61]:
# version 1.0
lados = int(input("Por favor digite la cantidad de lados del polígono: "))

if lados>2:
    contador = 1
    perimetro = 0
    while contador <= lados:
        longitud = float(input(f"Por favor digite la longitud del lado {contador}: "))
        perimetro = perimetro + longitud
        contador = contador + 1
    print(f"El perímetro del polígono de {lados} lados es {perimetro}")
else:
    print("No existen polígonos cuya cantidad de lados sea %s"%lados)

Por favor digite la cantidad de lados del polígono: 6
Por favor digite la longitud del lado 1: 2
Por favor digite la longitud del lado 2: 3
Por favor digite la longitud del lado 3: 5
Por favor digite la longitud del lado 4: 4
Por favor digite la longitud del lado 5: 5
Por favor digite la longitud del lado 6: 3
El perímetro del polígono de 6 lados es 22.0

In [62]:
# version 2.0
lados = 0
seguir = 1
while lados<=2 and seguir==1:
    lados = int(input("Por favor digite la cantidad de lados del polígono: "))
    if lados<=2:
        print("No existen polígonos cuya cantidad de lados sea %s"%lados)
        seguir = int(input("Desea seguir intentándolo?\nDigite 1 para seguir. Digite 2 para salir: "))

if seguir==1:
    contador = 1
    perimetro = 0
    while contador <= lados:
        longitud = float(input(f"Por favor digite la longitud del lado {contador}: "))
        perimetro = perimetro + longitud
        contador = contador + 1
    print(f"El perímetro del polígono de {lados} lados es {perimetro}")

Por favor digite la cantidad de lados del polígono: 3
Por favor digite la longitud del lado 1: 2
Por favor digite la longitud del lado 2: 4
Por favor digite la longitud del lado 3: 3
El perímetro del polígono de 3 lados es 9.0

También existen ciclos con la cláusula **for**, en donde se puede especificar un estructura sobre la cual iterar.

In [63]:
personas = ["Camilo","Aura","Claudia","Daniel","Juan","Andrea"]
for nombre in personas:
    print(nombre)

Camilo
Aura
Claudia
Daniel
Juan
Andrea

La función **range()** se utiliza a menudo conjuntamente con las instrucciones de ciclos para obtener una estructura iterativa  de rango de índices sobre la cual iterar, definida a partir de un valor de comienzo (0 por defecto) y un valor de final (no incluido). Opcionalmente, se puede especificar el paso de salto entre un valor y el siguiente (que puede ser negativo).

In [64]:
for i in range(6):
    print(i,end=" ") #Se especifica el espacio " " para que no salte la línea
print("")
for i in range(10,15):
    print(i,end=" ")
print("")
for z in range(1,20,2):
    print(z,end="-")
print("")
for x in range(10,3,-2):
    print(x, end="/")
print("")
for x in range(10,2,-2): # analicen por qué este ciclo y el anterior tienen el mismo resultado
    print(x, end="/")
print("")
for x in range(10,1,-2):
    print(x, end="/")

0 1 2 3 4 5
10 11 12 13 14
1-3-5-7-9-11-13-15-17-19-
10/8/6/4/
10/8/6/4/
10/8/6/4/2/

In [65]:
for i in range(len(personas)):
    print(i+1,personas[i])

1 Camilo
2 Aura
3 Claudia
4 Daniel
5 Juan
6 Andrea

Una cadena de caracteres se puede utilizar como estructura de base sobre la cual iterar

In [66]:
nombre = input("Digite un nombre: ")
for c in nombre:
    print(c,end=",")

Digite un nombre: Juan
J,u,a,n,

# Listas

Las listas en Python se definen con los corchetes "\[" y "\]". Se trata de conjuntos de valores que no necesariamente tienen el mismo tipo

In [85]:
l1 = [9, "cadena", 8.4]

In [86]:
print(l1)

[9, 'cadena', 8.4]

Se puede acceder a cada miembro de una lista indexando, empezando en 0.

In [87]:
cuadrados = [1, 4, 9, 16, 25]
print(cuadrados[3])
print(cuadrados[0])

16
1

Se permiten índices negativos, empezando en -1.

In [88]:
print(cuadrados[-1])
print(cuadrados[-2])
print(cuadrados[-5])

25
16
1

Se puede hacer "slicing" con un rango de posiciones, utilizando el operador ":", especificando el índice del comienzo (incluido) y el del final (no incluido)

In [89]:
print(cuadrados[1:3])

[4, 9]

Si no se especifica el comienzo (o final) del rango, se asume que se trata desde el primer elemento (o último elemento).

In [90]:
print(cuadrados[2:])

[9, 16, 25]

In [91]:
print(cuadrados[:4])

[1, 4, 9, 16]

In [92]:
print(cuadrados[:])

[1, 4, 9, 16, 25]

Con el operador "+", se concatenan las listas

In [93]:
cuadrados = cuadrados + [36, 49, 64, 81]
print(cuadrados)

[1, 4, 9, 16, 25, 36, 49, 64, 81]

In [94]:
cuadrados = cuadrados + [99,99]
print(cuadrados)
print(len(cuadrados))

[1, 4, 9, 16, 25, 36, 49, 64, 81, 99, 99]
11

In [95]:
cuadrados[9] = 100
cuadrados[10] = 121
print(cuadrados)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121]

También se puede concatenar con el método **append**.

In [96]:
cuadrados.append(144)
print(cuadrados)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144]

Se pueden utilizar las listas como objeto de iteración

In [97]:
for i in cuadrados:
    print(i, end="--")

1--4--9--16--25--36--49--64--81--100--121--144--

Se pueden modificar los elementos de una lista con asignación normal, usando rangos.

Se pueden incluir listas dentro de listas, y utilizar múltiple indexación para acceder a los contenidos. No hay restricciones con respecto a la dimensionalidad de las listas compuestas (como si lo habría en una matriz).

In [98]:
letras = ['a','b','c','d','e','f','g']
print(letras)
letras[2:5] = ['C','D','F']
print(letras)
print(letras[-2:-1])
print(letras[-2:])
letras[0:1] = [['x', 'y', 'z']]
print(letras)
print(letras[0][2])

['a', 'b', 'c', 'd', 'e', 'f', 'g']
['a', 'b', 'C', 'D', 'F', 'f', 'g']
['f']
['f', 'g']
[['x', 'y', 'z'], 'b', 'C', 'D', 'F', 'f', 'g']
z

In [99]:
r = range(4,15,2)
print(r)
lr = list(r)
print(lr)
print(list(range(100,3000,150)))

range(4, 15, 2)
[4, 6, 8, 10, 12, 14]
[100, 250, 400, 550, 700, 850, 1000, 1150, 1300, 1450, 1600, 1750, 1900, 2050, 2200, 2350, 2500, 2650, 2800, 2950]

Se puede utilizar el operador **in** para evaluar si un elemento es parte o no de una lista.

In [100]:
lista = [2,3,4]
i = 5 in lista
i

False

Las cadenas de caracteres se pueden tratar como listas.

In [101]:
cadena = "Hola a todos"
print(cadena[:-1])

Hola a todo

In [102]:
frase = "Python nació en 1991"
print(frase[0])

#las cadenas de caracteres son inmutables (no se pueden modificar):
frase[0] = "p"

P

TypeError: ignored

Existen operaciones como **lower()** y **upper()** que reciben cadenas como entrada y producen nuevas cadenas con el contenido transformado.

In [103]:
frase1 = "Python nació en 1991"
frase2 = frase1.lower()
frase3 = frase1.upper()

print(frase1)
print(frase2)
print(frase3)

Python nació en 1991
python nació en 1991
PYTHON NACIÓ EN 1991

# Ejercicio: conteo sobre listas

Escriba un programa que permita leer n números enteros, luego lea un (1) número y diga cuántas veces se encuentra en el listado inicial

In [104]:
size = int(input('Ingrese la cantidad de números de la lista: '))
numbers = []
for _ in range(size):
  number = int(input('Ingrese un número: '))
  numbers.append(number)

number_find = int(input('Diga que elemento desea contar en la lista: '))
print('El número {} está {} veces'.format(number_find, numbers.count(number_find)))

Ingrese la cantidad de números de la lista: 6
Ingrese un número: 1
Ingrese un número: 3
Ingrese un número: 2
Ingrese un número: 1
Ingrese un número: 1
Ingrese un número: 5
Diga que elemento desea contar en la lista: 1
El número 1 está 3 veces

# Tuplas

Las tuplas son estructuras similares a las listas, permiten agrupar valores de diferentes tipos, pero al contrario de estas últimas, son inmutables.
Se definen usualmente utilizando paréntesis en vez de corchetes, aunque en realidad no son obligatorios.

In [105]:
tupla = (34, 56, 11)
print(tupla)
tupla = 34, 56, 11
print(tupla)
print(tupla[0])

tupla[1] = 74 # Por qué no funciona esta línea? R// Porque las tuplas son inmutables

(34, 56, 11)
(34, 56, 11)
34

TypeError: ignored

In [106]:
persona = ("Ana","Paz",35)
print(persona)

('Ana', 'Paz', 35)

Para definir una tupla de un solo elemento, es necesario especificar la coma separatoria, de lo contrario Python no permite su creación como tupla.

In [107]:
x = (45)
print(x)
print(type(x))
x = (45,)
print(x)
print(type(x))

45
<class 'int'>
(45,)
<class 'tuple'>

Se pueden crear tuplas vacías.

In [108]:
z = ()
print(z)
print(len(z))
print(len(x))
print(len(tupla))
print(len(persona))

()
0
1
3
3

Los operadores de las listas también aplican a las tuplas.

In [109]:
print(tupla)
tupla = tupla + (64, 82, 10)
print(tupla)

(34, 56, 11)
(34, 56, 11, 64, 82, 10)

Se pueden tener tuplas de tuplas.

In [110]:
familia = (   
    ("Luis","padre","amarillo"),
    ("Felipe","hijo",True),
    ("Doris","prima",[5,6,7,8],3.1)
)
print(familia)

(('Luis', 'padre', 'amarillo'), ('Felipe', 'hijo', True), ('Doris', 'prima', [5, 6, 7, 8], 3.1))

In [111]:
print(persona[1]); print(familia[2][2])

Paz
[5, 6, 7, 8]

In [112]:
gastos = ([150,320,474],[42,86])
print (gastos)

gastos[0][0] = 210
print(gastos)

gastos[0].append(872)
print(gastos)

([150, 320, 474], [42, 86])
([210, 320, 474], [42, 86])
([210, 320, 474, 872], [42, 86])

Las tuplas permiten "empacar" y "desempacar" grupos de valores.
Esto es útil cuando una función devuelve varios valores y permite no tener que utilizar índices específicos o un ciclo para asignarlos a variables de retorno.

In [113]:
x = 1,2,3,4 #packing
print(x)
a = "AB"
b = "CD"
c = "EF"
z = a,b,c
print(z)

m,n,o,p = x #unpacking
#m = x[0]; n = x[1]; o = x[2]; p = x[3]
print(m,n,o,p)

lista = ['a','b','c','d','e']
print(lista)
x1,x2,x3,x4,x5 = lista
print(lista)
print(x1,x2,x3,x4)
tupla_de_lista = (x1,x2,x3,x4)
print(tupla_de_lista)

(1, 2, 3, 4)
('AB', 'CD', 'EF')
1 2 3 4
['a', 'b', 'c', 'd', 'e']
['a', 'b', 'c', 'd', 'e']
a b c d
('a', 'b', 'c', 'd')

# Conjuntos

Los conjuntos son como las listas o tuplas, pero no pueden tener elementos repetidos.
Además, no tienen un orden definido, por lo que no se puede acceder directamente a los elementos contenidos.

In [114]:
cesta = {"Limón","Mandarina","Limón","Piña","Piña",3, 1}
print(cesta)

{1, 3, 'Piña', 'Mandarina', 'Limón'}

In [115]:
vacio = {}
print(vacio)

{}

In [116]:
print("Piña" in cesta)
print("Naranja" in cesta)

True
False

In [117]:
print(len(cesta))

5

In [118]:
letras = set("abcdefghijk")
print(letras)

{'a', 'd', 'k', 'e', 'g', 'c', 'b', 'i', 'j', 'f', 'h'}

In [119]:
codigos = set(range(30,98,4))
print(codigos)
codigos2 = list(range(30,98,4))
print(codigos2)

{34, 66, 90, 38, 70, 42, 74, 46, 78, 50, 82, 54, 86, 62, 94, 58, 30}
[30, 34, 38, 42, 46, 50, 54, 58, 62, 66, 70, 74, 78, 82, 86, 90, 94]

Se pueden realizar operaciones de conjuntos, como la intersección con el caracter "&", la unión con "|", la diferencia con "-", XOR con "^", evaluar si los elementos de un conjunto están dentro de otro con ">=" o "<=".

In [120]:
A = set("abcdefghi")
B = set("acegijklm")
union = A|B
print(union)
interseccion = A&B
print(interseccion)

{'m', 'a', 'd', 'k', 'e', 'g', 'c', 'b', 'i', 'j', 'f', 'l', 'h'}
{'a', 'e', 'g', 'c', 'i'}

In [121]:
print(set([1,2,3])^set([2,4]))
xor = A^B
print(xor)
diferencia = A-B
print(A)

{1, 3, 4}
{'m', 'd', 'k', 'b', 'j', 'f', 'l', 'h'}
{'a', 'd', 'e', 'g', 'c', 'b', 'i', 'f', 'h'}

In [122]:
for elem in A:
    print(elem,end=" ")

a d e g c b i f h

# Diccionarios

Los diccionarios son una estructura que agrupa mapeos de llaves con valores.
Las llaves pueden ser cualquier tipo de datos inmutable: cadenas de caracteres, números o tuplas que contengan solo cadenas, números o tuplas pueden servir de llaves.

In [123]:
casa = {"color":"rojo","area":340}
print(casa)
print(casa["color"])
print(casa["area"])
print(list(casa))
print(casa.items())
print("area" in casa)
print("precio" in casa)

{'color': 'rojo', 'area': 340}
rojo
340
['color', 'area']
dict_items([('color', 'rojo'), ('area', 340)])
True
False

Los diccionarios se pueden tomar como una estructura iterativa en un ciclo de **for**.
Si se hace directamente, se itera sobre las llaves.
Se puede iterar al mismo tiempo sobre llave y valor al utilizar su método **items()*.

In [124]:
salud = {"peso":62, "altura":1.72, "edad":28}
for llave in salud:
    print(llave, ":", salud[llave], sep="")    
print()
for llave, valor in salud.items():
    print(llave, ":", salud[llave], sep="")

peso:62
altura:1.72
edad:28

peso:62
altura:1.72
edad:28

Se puede definir un diccionario a través de una estructura de lista y tuplas.

In [125]:
producto = dict([("nombre","silla"),("precio",24500.0),("cantidad",12)])
print(producto)
producto["precio"] = "$"+str(producto["precio"])
print(producto)

{'nombre': 'silla', 'precio': 24500.0, 'cantidad': 12}
{'nombre': 'silla', 'precio': '$24500.0', 'cantidad': 12}

# Funciones

Se definen funciones con parámetros de entrada y un valor de salida. Este puede ser una tupla, de tal manera que se retornen varios valores a la vez, que pueden ser fácilmente "desempaquetados" al retorna del llamado a la función en cuestión.

In [126]:
def suma(x,y):
    return x+y

z = suma(5,3)
print(z)

a = suma("Hola ","Mundo!")
print(a)

l = suma([2,7,9],[1,3,6,0])
print(l)

8
Hola Mundo!
[2, 7, 9, 1, 3, 6, 0]

In [127]:
def siguientes2(x):
    return (x+1, x+2)

a=15
(b, c) = siguientes2(a)
print("los dos números que siguen a {} son: {} y {}".format(a,b,c))

los dos números que siguen a 15 son: 16 y 17

# Ejercicio: Función de Fibonacci

Escriba un función que reciba un parámetro *x* y retorne la lista con los primeros *x* dígitos de la serie de Fibonacci

In [128]:
def fibonacci(n, memory={}):
  if n==0 or n==1:
    return 1
  try:
    return memory[n]
  except KeyError:
    result = fibonacci(n-1, memory) + fibonacci(n-2, memory)
    memory[n] = result
    return result

def get_fibonacci_numbers(x):
  numbers = [0]
  for i in range(x-1):
    numbers.append(fibonacci(i))
  return numbers

In [129]:
get_fibonacci_numbers(15)

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377]

# Clases y objetos

In [130]:
class NumeroRacional:
    def __init__(self, p, q):
        self.p = p
        self.q = q
    
    def calcularNumeroReal(self):
        numero = self.p / self.q
        return numero
    
    def imprimir(self):
        print("%s/%s"%(self.p,self.q))

x = NumeroRacional(3,8)
y = NumeroRacional(1,2)
z = NumeroRacional(5,4)

print(x.calcularNumeroReal())
print(y.calcularNumeroReal())
print(z.calcularNumeroReal())

print()

x.imprimir()
y.imprimir()
z.imprimir()

0.375
0.5
1.25

3/8
1/2
5/4